In [ ]:
#Q1: Write a program to reverse an integer in Python.
n = 4562
reverse_number = 0
 
while(n > 0):
    a = n % 10
    reverse_number = reverse_number * 10 + a
    n = n // 10
print("the n is:", n)
print("the reverse number of n will be: ",reverse_number)

the n is: 0
the reverse number of n will be:  2654

In [ ]:
#Q2) Write a program in Python to check whether an integer is Armstrong number or not.

num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 407
407 is an Armstrong number

In [ ]:
#Q3) Write a program in Python to check given number is prime or not.

num = 11
  
# If given number is greater than 1
if num > 1:
  
    # Iterate from 2 to n / 2
    for i in range(2, int(num/2)+1):
  
        # If num is divisible by any number between
        # 2 and n / 2, it is not prime
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
  
else:
    print(num, "is not a prime number")

11 is a prime number

In [ ]:
#Q4) Write a program in Python to print the Fibonacci series using iterative method.

first,second=0,1
n = int(input("please give a number for fibonacci series : "))
print("fibonacci series are : ")
for i in range(0,n):
    if i<=1:
        result=i
    else:
      result = first + second;
      first = second;
      second = result;
    print(result)

please give a number for fibonacci series : 4
fibonacci series are :
0
1
1
2

In [ ]:
#Q5) Write a program in Python to check whether a number is palindrome or not using iterative method.
n = int(input("please give a number : "))
reverse,temp = 0,n
while temp!=0:
    reverse = reverse*10 + temp%10;        
    temp=temp//10;
if reverse==n:
    print("\nnumber is palindrom")
else:
    print("\nnumber is not palindrom")

please give a number : 5885

number is palindrom

In [ ]:
# Q6) Write a program in Python to find greatest among three integers.
number_1=567
number_2=967
number_3=667

if number_1 >= number_2 and number_3:
  print(number_1)
elif number_2 >= number_1 and number_3:
  print(number_2)
elif number_3 >= number_1 and number_2:
  print(number_3)

967

In [ ]:
#q7: Write a program in Python to check if a number is binary?
binary_1=0
binary_2=1

number= int(input("enter a binary number, number should be 0 or 1"))
if number == binary_1 or binary_2:
  print("your entered binary number is: ",number)
else:
  print("your entered binary number is: ",number)

enter a binary number, number should be 0 or 11
your entered binary number is:  1

In [ ]:
#q8: Write a program in Python to find sum of digits.
sum_num_1=int(input("enter 1st number:"))
sum_num_2=int(input("enter 2nd number:"))
sum_num_3=int(input("enter 3rd number:"))

sum_of_num=(sum_num_1+sum_num_2+sum_num_3)

print("the sum of numbers will be: ",sum_of_num)

enter 1st number:34
enter 2nd number:56
enter 3rd number:67
the sum of numbers will be:  157

In [ ]:
#Q9) Write a program in Python to swap two numbers without using third variable?
num_1=67
num_2=78

num_1,num_2=num_2,num_1

print("the values without using third variable will be: ",num_1)
print("\nthe values without using third variable will be: ",num_2)

the values without using third variable will be:  78

the values without using third variable will be:  67

In [ ]:
#Q10) Write a program in Python to swap two numbers using third variable?
var_1=34
var_2=45

var_3=var_2
var_2=var_1
var_1=var_3

print("the swap value of var_1 using third variable will be: ", var_1)
print("the swap value of var_2 using third variable will be: ", var_2)

the swap value of var_1 using third variable will be:  45
the swap value of var_2 using third variable will be:  34

In [ ]:
#Q11) Python Program to find the Average of numbers.
total_courses_you_enroll_in=5

course_0_marks=45
course_1_marks=85
course_2_marks=90
course_3_marks=89
course_4_marks=90

sum = course_0_marks + course_1_marks + course_2_marks + course_3_marks + course_4_marks
print("\nthe sum of numbers is: ",sum)

finding_average= sum / total_courses_you_enroll_in
print("\nthe sum of numbers is: ",finding_average)

the sum of numbers is:  399

the sum of numbers is:  79.8

In [ ]:
#Q12) Python Program to calculate factorial using iterative method.

def get_factorial_while_loop(n):
    result = 1
    while n > 1:
        result = result * n
        n -= 1
    print("the factorial of a number using iterative method will be: ",result)

inp = input("Enter a number: ")
inp = int(inp)
get_factorial_while_loop(inp)

Enter a number: 4
the factorial of a number using iterative method will be:  24

In [ ]:
#Q13) Python Program to calculate factorial.
factorial_number= int(input("enter number to find a factorial: "))

num_1=1
for num in range(1, factorial_number+1):
 num_1*=num
print("\nthe factorial of",factorial_number,"is: ",num_1)

enter number to find a factorial: 7

the factorial of 7 is:  5040

In [ ]:
# Q14) Python Program to check a given number is even or odd.

number=int(input("enter a number"))

if number%2==0:
  print("the number is even: ", number)
else:
  print("the number is odd: ", number)

enter a number45
the number is odd:  45

In [ ]:
# Q15) Python program to print first n Prime Number.
def isPrime(n):
  #since 0 and 1 is not prime return false.
  if(n==1 or n==0):
    return False
   
  #Run a loop from 2 to n-1
  for i in range(2,n):
    #if the number is divisible by i, then n is not a prime number.
    if(n%i==0):
      return False
   
  #otherwise, n is prime number.
  return True
 
N = 100;
#check for every number from 1 to N
for i in range(1,N+1):
  #check if current number is prime
  if(isPrime(i)):
    print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
#Q16) Python Program to print Prime Number in a given range.
lower = 600
upper = 700

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 600 and 700 are:
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691

In [ ]:
#Q17) Python Program to find Smallest number among three.

num_1=[45,89,18]
for smallest_num in range(3):
  if num_1[smallest_num] == num_1[2]:
    print("the smallest among three is: ",num_1[smallest_num] )

the smallest among three is:  18

In [ ]:
#Q18) Python program to calculate the power using the POW method.

power_value=4

print("using power method the value will be: ", pow(power_value,2))

using power method the value will be:  16

In [ ]:
#Q19) Python Program to calculate the square of a given number.
value_1=int(input("enter value to find its square: "))
square= value_1 * value_1
print("\nthe square value of a number will be: ", square)

enter value to find its square: 8

the square value of a number will be:  64

In [ ]:
#Q20) Python Program to calculate the cube of a given number

value_1=int(input("enter value to find its square: "))
cube = value_1 * value_1 * value_1
print("\nthe square value of a number will be: ",  cube)

enter value to find its square: 3

the square value of a number will be:  27

In [ ]:
#Q21) Python Program to calculate the square root of a given number.

import math
number=int(input(("enter a number to find its square root: ")))
print("\nthe square root of a number will be: ",math.sqrt(number))

enter a number to find its square root: 4

the square root of a number will be:  2.0

In [ ]:
#Q22) Python Program to Convert Decimal Number into Binary.

dec=90
print(bin(dec), "in binary.")

0b1011010 in binary.

In [ ]:
#Q23) Python Program to convert Decimal number to Octal number.

dec=89
print(oct(dec), "in octal.")

0o131 in octal.

In [ ]:
#Q24) Python Program to check the given year is a leap year or not.

year=int(input("Enter year to be checked:"))
if(year%4==0 and year%100!=0 or year%400==0):
 print("The year is a leap year!")
else:
 print("The year isn't a leap year!")

Enter year to be checked:2020
The year is a leap year!

In [ ]:
#Q25) Python Program to convert Celsius to Fahrenheit.

celsius=int(input("enter celsius: "))

fahrenheit = (celsius * 1.8) + 32
print("\nconvert celsius into fahrenheit will be: ",fahrenheit)

enter celsius: 56

convert celsius into fahrenheit will be:  132.8

In [ ]:
#Q26) Python Program to convert Fahrenheit to Celsius.

fahrenheit=int(input("enter fahrenheit: "))
celsius = (fahrenheit - 32) / 1.8
print("\nconvert fahrenheit into celsius will be: ",celsius)

enter fahrenheit: 89

convert fahrenheit into celsius will be:  31.666666666666664